@page "/"
@rendermode InteractiveServer
@using Azure.AI.OpenAI
@using Markdig
@using System.Globalization
@using Microsoft.Extensions.Options;
@using Microsoft.FeatureManagement;
@inject IConfiguration Configuration
@inject IJSRuntime JS
@inject IFeatureManager FeatureManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>My ChatGPT</PageTitle>

<article>
    @* This button is only shown on small devices *@
    <div class="top-row-toggle">
        <button class="btn btn-sm btn-light" @onclick="ToggleTopRow" title="Options">
            <i class="fas fa-cog gear-icon"></i> Options
        </button>
    </div>
    <div class="top-row p-4 header justify-content-between @_additionalTopRowClass">
        <div>
            <button class="btn btn-sm btn-secondary" @onclick="async () => {await ResetChat(); await _nextArea.FocusAsync();}" title="New Chat (LocalStorage)">
                <i class="fas fa-file-circle-plus"></i> New Chat
            </button>
        </div>
        <div>
            <EditForm style="display:inline" Model="@this">
                <InputCheckbox id="isAutoscrollEnabled" @bind-Value="_isAutoscrollEnabled" @bind-Value:after="OnSettingsChanged" class="form-check-input" />
                <label for="isAutoscrollEnabled" class="form-check-label">Autoscroll</label>
                <InputSelect @bind-Value="_SelectedOptionKey" @bind-Value:after="OnSettingsChanged">
                    @foreach (var item in OpenAIOptions.CurrentValue)
                    {
                        <option value="@item.Key">@item</option>
                    }
                </InputSelect>
            </EditForm>
            <button class="btn btn-sm btn-light" @onclick="() => DownloadConversation()" title="Export">
                <i class="fas fa-file-export"></i> Export
            </button>
        </div>
    </div>
    <div @ref=_mainArea class="row main align-content-start p-4">
        @foreach (var chatMessage in _chatMessages)
        {
            <h5>
                @GetChatMessageRole(chatMessage)
                <button class="btn btn-sm" @onclick="() => CopyMessageToNext(chatMessage)" title="Copy as input">
                    <i class="fas fa-level-down-alt"></i>
                </button>
                <button class="btn btn-sm" @onclick="() => DeleteMessage(chatMessage)" title="Delete this message">
                    <i class="fas fa-trash"></i>
                </button>
            </h5>
            @((MarkupString)Markdown.ToHtml(GetChatMessageContent(chatMessage)))
        }

        @if (!string.IsNullOrEmpty(_stream))
        {
            <h5>assistant</h5>
            @((MarkupString)Markdown.ToHtml(_stream))
        }
        @if (_loading)
        {
            <br />
            <div class="loader"></div>
            <p>... please wait ...</p>
        }
        @if (_warningMessage.Length > 0)
        {
            <div class="alert alert-warning">
                <strong>Warning!</strong> @_warningMessage.
            </div>
        }
    </div>
    <hr />
    <div class="row footer">
        <div class="col-sm-8">
            <textarea type="text" class="form-control" id="nextArea" placeholder="CTRL+Enter to submit search"
                      @bind="_next" @bind:event="oninput" @onkeydown="@OnNextKeydown" @ref="_nextArea"></textarea>
            <div class="mt-2 d-flex align-items-center gap-2">
                @if (_file != null)
                {
                    <div class="img-container d-flex align-items-center gap-2">
                        <img src="@_imagePreviewUrl" alt="Preview" style="max-width:200px;max-height:120px;border-radius:8px;" />
                        <button type="button" class="btn btn-outline-danger btn-sm ms-2" title="Remove image" @onclick="ClearFile">
                            <i class="fas fa-times"></i> Remove
                        </button>
                    </div>
                }
            </div>

        </div>
        <br />
        <div class="col-sm-2">
            <button id="searchBtn" class="btn btn-success" @onclick="OnSearchClick" type="submit" disabled=@_loading>
                <i class="fas"></i>Submit
            </button>
            <button class="btn btn-danger" @onclick="OnAbortClick" type="submit" disabled="@(!_loading)">
                <i class="fas"></i>Abort
            </button>
        </div>
    </div>
</article>

